@import 'reset';

body {
	text-align: center;
	
	* {
		font-family: Open Sans, arial;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

h2 {
	font-size: 38px;
	padding-bottom: 133px;
}

ul {
	margin: 0;
	padding: 0;
}

::-webkit-input-placeholder {color:#c1c1c1;}
::-moz-placeholder          {color:#c1c1c1;}
:-ms-input-placeholder      {color:#c1c1c1;}

.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
*:focus {
	outline: none;
}

.swiper-slide {
	background: url(../img/test-small.jpg) 50% 50% no-repeat;
	background-size: cover;
	min-height: 580px;
}

.swiper-button-next {
	background: url(../img/right.png);
}

.swiper-button-prev {
	background: url(../img/left.png);
}

.swiper-pagination {
	display: none;
}

.inner {
	max-width: 1200px;
	margin: 0 auto;

	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

section {
	padding: 50px;
}

header {
	padding: 0 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	box-shadow: 0 0 0 0 grey;
	transition: all .5s ease;
	z-index: 2;

	.logo {
		margin-top: 28px;
		float: left;
	}

	.logo, nav ul li a {
		transition: all .5s ease;
	}

	&.compact {
		box-shadow: 0 0 3px 0 grey;
		nav ul li a {
			padding-top: 20px; 
			padding-bottom: 20px; 
		}
		.logo {
			margin-top: 8px;
		}
		+ main {
			margin-top: 60px;
		}
	}

	nav {
		float: right;

		ul {
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			li {
				float: left;

				a {
					font-size: 15px;
					color: black;
					line-height: 19px;
					padding: 40px 25px 42px;
					border-bottom: 2px solid transparent;

					&:hover {
						color: #49cbcd;
						border-color: #49cbcd;
						background: #f8f9fb;
					}
				}
			}
		}
	}
}

main {
	transition: margin-top .5s ease;
	margin-top: 102px;
	color: black;

	#banner {
		padding: 0;
		color: white;

		h1 {
			font-size: 67px;
			margin-top: 120px;
		}

		p {
			font-size: 24px;
			margin-top: 17px;
		}

		button {
			color: white;
			background-color: transparent;
			font-size: 29px;
			border: 4px solid white;
			border-radius: 7px;
			padding: 11px 36px;
			margin-top: 55px;
		}
	}

	#team {

		h2 {
			color: #4e525d;
		}

		ul {
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			li {
				float: left;
				width: 25%;
				padding: 10px 25px;

				> a {
					color: black;

					&:hover .add {
						display: inline-block;
					}
				}

				.team-member {
					padding: 0 25px;

				  .inner {
			  		background-color: #eeeef0;
			  		border-radius: 100%;
			  	  margin: 0 auto 50px;
			  	  position: relative;
			  	  height: 0;
			  	  padding-top: 100%;

				  }

				  img {
				  	display: none;
				  	position: absolute;
		  	    width: 100%;
		  	    height: auto;
				  }

				  .add {
				  	height: 42px;
				  	position: absolute;
				  	display: none;
				  	line-height: 42px;
				  	color: #f46d6d;
				  	font-size: 80px;
				  	font-weight: bold;
				  	top: 50%;
				  	margin-top: -21px;
				  	left: 50%;
				  	margin-left: -21px;
				  }
				}

				h3 {
					font-size: 20px;
				}

				p {
					font-size: 14px;
					line-height: 28px;
					padding-bottom: 20px;
				}
			}
		}
	}

	#buy-now {
		background-color: #f1f1f1;
		padding: 96px 0 81px;

		.account {
			width: 30%;
			display: inline-block;
			margin: 0 13px;

			.account-type {
				background-color: #485460;
				color: white;
				font-size: 26px;
				padding: 21px;
			}

			li {
				color: #8c9299;
				border-bottom: 1px solid #ecf0f1;
				padding: 15px;
				background-color: white;
			}

			.price {
				background-color: #f8f9fb;
				font-size: 21px;
				padding: 20px;
				color: black;
			}

			.buy-button {
				background-color: #f8f9fb;

				button {
					background-color: #788492;
					color: white;
					font-size: 18px;
					border: 0;
					padding: 9px 51px;
					border-radius: 3px;
					margin: 24px;
				}
			}
		}
	}
}

#footer {
	background: url('../img/contact-us.jpg') 0 0 no-repeat;
	padding: 70px;
	background-size: cover;
	color: white;

	h3 {
		font-size: 24px;
	}

	.column-50 {
		width: 50%;

		.content-wrapper {
			text-align: left;
			max-width: 450px;
			
			h3 {
				margin-bottom: 6px;
			}
			
			> p {
				color: #8c9299;
				font-size: 14px;
			}

			.social-links {
				padding-top: 44px;

				ul > li {
					display: inline-block;
					vertical-align: top;
					&:first-child a {
						margin-left: 0;
					}
					
					a {
						background: url(../img/social-isons.png) 0 0 no-repeat;
						width: 45px;
						height: 45px;
						margin-left: 15px;

						
						&.tw-link {
							background-position: -57px 0;
						}

						&.go-link {
							background-position: -114px 0;
						}
					}

				}
			}
		}
	}

	
	.contact {
		> * { 
			color: #bface2;
			font-size: 12px;
			line-height: 24px;
		}
		p {
			line-height: 18px;
			margin-bottom: 5px;
		}
	}

	form {
		text-align: left;

		.input-control {
			width: 50%;
			display: inline-block;
			padding: 15px;
		}

		.textarea-control {
			padding: 15px;
		}

		input, textarea {
			border-radius: 3px;
			border: 0;
			width: 100%;
			padding: 12px 20px;
			font-size: 18px;

			&[type="submit"] {
				width: auto;
				background-color: #49cbcd;
				color: white;
				font-size: 23px;
				padding: 12px 55px;
			}
		}

		textarea {
			min-height: 184px;
		}
	}
}