@import 'reset';

body {
	text-align: center;
	font-family: Open Sans, arial;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul {
	margin: 0;
	padding: 0;
}

.inner {
	max-width: 1200px;
	margin: 0 auto;

	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

section {
	padding: 50px;
}

header {
	padding: 0 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;

	.logo {
		margin-top: 28px;
		float: left;
	}

	nav {
		float: right;

		ul {
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			li {
				float: left;

				a {
					font-size: 15px;
					color: black;
					line-height: 19px;
					padding: 40px 25px 42px;
					border-bottom: 2px solid transparent;

					&:hover {
						color: #49cbcd;
						border-color: #49cbcd;
						background: #f8f9fb;
					}
				}
			}
		}
	}
}

main {
	margin-top: 102px;
	color: black;

	#team {

		h2 {
			font-size: 40px;
			padding-bottom: 100px;
		}

		ul {
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			li {
				float: left;
				width: 25%;
				padding: 0 20px;

				.team-member {
					background-color: #eeeef0;
					width: 160px;
					height: 160px;
					border-radius: 100%;
				  margin: 0 auto 50px;

				  p {
				  	color: #f46d6d;
				  	font-size: 80px;
				  	font-weight: bold;
				  	padding-top: 25px;
				  }
				}

				h3 {
					font-size: 20px;
				}

				p {
					font-size: 11px;
					padding-bottom: 20px;
				}
			}
		}
	}
}